
// Primer esquema de color

$white: #fff;
$platinium: #E6E7E7;
$gray: #D1D1D1;

// Segundo esquema de color

$Fuzzy: #E56353;
$Ruddy: #D76C69;
$Spanish: #ECBCBA;

// Tercer esquema de color

$Eerie: #121619;
$Raisin: #222323;
$Nickel: #6C6E70;


// Tipografia

$playfair: 'Playfair Display';
$roboto: 'Roboto';

// Peso de fuentes

$bold-italic:700;
$regular:400;
$light: 300;
$roboto-medium: 400;


// Tamañano de fuentes tamaño 

$xx-large: 70px;
$xx-large-mobile: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
